# /etc/cloud/cloud.cfg.d/99-disable-network-config.cfg
# Prevents cloud-init from overwriting netplan config on every reboot
# Apply this on ALL VMs after setting static IPs

network: {config: disabled}